extends layout
block content

    body.third-page
        a(href='/options') Back to Hello!
        div.clear  Information about and credit to the API used : 
            p      The API is simple yet very cool and useful. 
            p      Giving you a fast way to say the first word you probably want to know in any second language. 
            p      For more information about the API visit: https://www.programmableweb.com/api/hello-salut
        div.credit-to-us  Devolped by:
            p  Kaytlynn Skibo & Mohammed Alduris 
