extends layout
block content
    body.first-page
        h1 Sign In
        h2.twitter-sign-in 
            div !{hello} 
            div Please sign in with your Twitter account
            a(id='login' href='/auth/twitter') login twitter